#pricing{
    background-color: rgba(147, 107, 232, 0.05);;
}

#pricing .row{
    margin: 3rem 5rem 0;
}

#pricing .pricing__card{
    padding: 50px;
    margin: 50px 0px;
    border-radius: 10px;
    background-color: #fff;
}

#pricing .pricing__top{
    margin-bottom: 40px;
}

.pricing__bottom ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 2rem;
    font-size: 18px;
}

.pricing__bottom li{
    padding: 5px 0;
    margin-top: 5px;
}

.pricing__top h4{
    font-size: 40px;
    color: #189a46;
}

.pricing__top label{
    font-size: 25px;
    vertical-align: text-top;
}

.pricing__top span{
    font-size: 18px;
    opacity: 0.8;
    font-weight: 400;
    color: #000;
}

.pricing__bottom button{
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    background: #189a46;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.pricing__bottom button:hover{
    background-color: #116E32;
}

#pricing .pricing__card_middle{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
}

.pricing__top.active,
.pricing__top.active h4,
.pricing__top.active span {
    background: #189a46;
    color: #fff;
}

.pricing__top.active{
    padding: 50px 50px 20px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    z-index: 1;
}
.pricing__top.active h5{
    font-size: 16px;
    margin: 0px 30% 40px;
    padding: 10px;
    background-color: white;
    color: #189a46;
    border-radius: 5px;
}