* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

/* Start Header */
header .navbar-brand {
    color: #189a46;
}

header .header__menu a {
    color: black !important;
    font-size: 19px;
}

header .header__menu a.active {
    color: #189a46 !important;
}