*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-right-slidebar i{
  display: inline-block;
  position: fixed;
  right: 20px;
  top: 20%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  background: #0D1326;
  color: #e6ebff;
  font-size: 20px;
  opacity: .5;
  cursor: pointer;
}
/* header */
header .navbar-toggler {
  font-size: 16px;
  background: #189a46;
}

header .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse .nav-link {
  font-weight: 400;
}

header .navbar-toggler i {
  color: white;
}

header .nav-link {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 14px 0;
}

header .navbar-brand {
  color: #189a46;
  font-weight: 700;
  font-size: 34px;
}

header .navbar-brand > i,
header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link:hover {
  color: #189a46;
  transition: all 0.5s;
}

header .navbar-nav .nav-link {
  position: relative;
  margin-left: 20px;
}

header .navbar-nav .nav-link::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #7ec697;
  transition: all 0.5s;
}

header .navbar-nav .nav-link:hover::before {
  width: 100%;
}

li a.search-search {
  background: rgba(147, 107, 232, 0.05);
  font-size: 16px;
  line-height: 25px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  padding: 0;
  text-align: center;
  color: #189a46;
  display: inline-block;
  border: none;
  transition: all 0.5s;
}

li a.search-search:hover {
  background: #189a46;
  color: white;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler .icon-close {
  display: block;
}

.pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: #000000ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.search-popup {
  position: relative;
  margin: 0rem auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}

.inputSearch {
  border-radius: 0.25rem 0 0 0.25rem;
}

.btnSearch {
  border-radius: 0 0.25rem 0.25rem 0;
}

.search-popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

/* Darkand Light */
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

.dark#myBody {
  background-color: black;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.bgDarkLight {
  background-color: white;
}

.clDarkLight {
  color: black;
}

.bgService {
  background-color: #f8f7fd;
}

.dark .bgDarkLight {
  background-color: black;
}

.dark .clDarkLight {
  color: white;
}

.dark .bgService {
  background-color: #222222;
}

.dark .bgPricing{
  background-color: #000 !important;
}
.dark .pricing__card__dark{
  background-color: #151515 !important;
}
.dark .pricing__text__white{
  color: white
}
.dark .pricing__text__wopacity{
  color: #afafaf;
}
/* carousel */
#carousel .carousel-item > img {
  display: block;
  max-height: 580px;
}

#carousel .carousel-item {
  position: relative;
}

#carousel .carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

#carousel .carousel-caption {
  position: absolute;
  top: 30%;
  bottom: 1.25rem;
  left: 5%;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}

#carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  margin: 0 8px;
  overflow: hidden;
  border: none;
}

#carousel .carousel-indicators .active {
  background-color: #189a46;
  width: 30px;
  height: 10px;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  background-color: #fff;
  color: #189a46;
}

.btn-border {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.btn-border:hover {
  background-color: #fff;
  color: #189a46;
}

/* About Us */
#aboutUs {
  padding: 70px 0;
}

#aboutUs > .container {
  max-width: 700px;
  margin: 0 auto;
}

.aboutUsReadMore {
  position: relative;
  font-weight: 500;
  transition: all 0.5s;
}

.aboutUsReadMore:hover {
  color: #189a46;
}

.aboutUsReadMore::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #189a46;
}

/* Service */
#services {
  padding: 70px 0;
}

#services .card {
  border-radius: 10px;
  transition: all 0.3s;
}

#services .card:hover {
  background-color: rgba(147, 107, 232, 0.05);
}

#services .card i {
  color: #189a46;
}

#services .card a {
  cursor: pointer;
  transition: all 0.7s;
}

#services .card-title:hover {
  color: #189a46;
}

#services .aboutUsReadMore:hover {
  color: #189a46;
}

/* Home Page Content  */
#content {
  padding: 70px 0;
}

#content .contentLeft {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

#content .contentLeft img {
  width: 100%;
  border-radius: 20px;
}

#content .contentRight ul {
  list-style: none;
  padding-left: 0;
}

#content .contentRight ul li {
  font-weight: 400;
}

#content .contentRight ul li i {
  color: #189a46;
  margin-right: 12px;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* Home Page Start */
#numberStar {
  background-color: #189a46;
  padding: 50px 0;
}

#numberStar .numberItem h1 {
  font-size: 50px;
}

#numberStar .numberItem p {
  opacity: 0.6;
}
/* Start Pricing CSS */
#pricing {
  background-color: rgba(147, 107, 232, 0.05);
  padding: 40px auto;
}

#pricing .row {
  margin: 3rem 5rem 0;
}

#pricing .pricing__card {
  padding: 50px;
  margin: 50px 0px;
  border-radius: 10px;
  background-color: #fff;
}

#pricing .pricing__top {
  padding: 40px;
}

.pricing__bottom ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 2rem;
  font-size: 18px;
}

.pricing__bottom li {
  padding: 5px 0;
  margin-top: 5px;
}

.pricing__top h4 {
  font-size: 40px;
  color: #189a46;
}

.pricing__top label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing__top span {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 400;
  color: #000;
}

.pricing__bottom button {
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  background: #189a46;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.pricing__bottom button:hover {
  background-color: #116e32;
}

#pricing .pricing__card_middle {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
}
.pricing__card_middle .pricing__top.active{
  background: #189a46;
  border-radius: 10px 10px 0px 0px;
}
.pricing__card_middle .pricing__top.active h5{
  margin: 0px 90px 40px;
  background: #fff;
  color: #189a46;
  font-size: 16px;
  padding: 10px;
  border-radius: 11px;
}
/* Start Video Popup */
#video_popup .container {
  margin: 80px auto;
  padding: 0px 10%;
}
.videoPopup__header p,
.sub__header p{
  font-size: 1.2em;
  opacity: 0.8;
}

.videoPopup__content {
  position: relative;
}

.videoPopup__content a {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: calc(50% - 50px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  color: #189a46;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
  transition: 0.3s;
}

.videoPopup__content a:hover {
  transform: scale(1.2);
}

.videoPopup__content img {
  width: 100%;
  border-radius: 10px;
}
/* Start Testimonials */
#testimonial{
  background: rgba(147, 107, 232, 0.05);
}

.testimonial__carousel{
   padding-bottom: 10% !important;
}
.testimonial__header{
  padding: 80px 0 50px;
}
#testimonial .item__image img {
  margin-right: 25px;
  border-radius: 50%;
  width: 80px;
}

.testimonial__carousel .testimonial__item{
  background: #fff;
  margin-right: 20px;
  border-radius: 15px;
}

.testimonial__item .item__content blockquote{
  padding: 40px 50px 0;
}

.testimonial__item .item__content q{
  font-size: 20px;
  line-height: 1;
  opacity: 0.6;
}

.testimonial__item .item__content q::before{
  font-size: 50px;
  color: #189a46;
  font-weight: 600;
  display: inline-block;
}

.testimonial__carousel .item__image{
  margin: 20px 25px 50px;
}
.item__decs .pricing__text__white{
  font-size: 20px;
}
.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
}

.slick-dots button{
  padding: 0px 2px;
  margin: 10px 20px 0px;
  border-radius: 50%;
}

/* Start Subscribe */
.sub__content{
  margin: 5% 25%;
}
.sub__form input{
  flex-basis: 70%;
  height: 60px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.sub__form button{
  flex-basis: 28%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #189a46;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.sub__form button:hover{
  background: #116e32;
}
/* Start Footer */
footer{
  background-color: #111;
  color: #404040;
}
footer .row{
  padding: 60px;
}
footer .item__header{
  color: #fff;
  margin-bottom: 30px;
}
.item__social li{
  font-size: 16px;
  margin-right: 20px;
}
footer li{
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.5);
}
footer li:hover a{
  text-decoration: underline;
  color: #fff;
}
footer ul{
  padding: 0;
  list-style: none;
}

footer a,
footer span{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: .3s;
}
.footer__copyright{
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.footer__copyright p{
  color: rgba(255, 255, 255, 0.5);
}
.footer__copyright a{
  transition: .3s;
}
.footer__copyright a:hover{
  text-decoration: underline;
}
/* Start Button Move On Top */
#myBtn{
  display: none;
  position: fixed;
  bottom: 10%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #189a46;
  border: 0;
  cursor: pointer;
  transition: .5s;
}
#myBtn:hover{
  transform: translateY(-20px);
}
/* keyframe */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
/* responsive */
@media (min-width: 992px) {
  .darkLight {
    order: 2;
  }

  #carousel .carousel-item > img {
    height: calc(100vh - 90px);
    max-height: none;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  #carousel .carousel-caption {
    bottom: 50%;
    left: 10%;
  }

  #carousel .carousel-caption.ms-auto {
    left: 40%;
  }

  #content .contentLeft {
    max-width: 50%;
    width: 40%;
  }
}
